/* src/styles/Calendar.css */

.calendar {
    max-width: 600px;
    margin: 20px auto;
  }

  .client-list-head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
.green{
  color: green;
}
  
  h2 {
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  /* Adjust styling as needed */
  